@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --cor-primaria: #012030;
    --cor-secundaria: white;
    --cor-calculadora: #45C4B0;
    --cor-botao: #DAFDBA;
    --cor-botao-selecionado: #9AEBA3;
    --cor-resultado: white;
}

*{
    margin: 0;
    padding: 0;
}
.fundo {
    background-image: linear-gradient(45deg, white, #13678a);
    height: 100vh;
    text-align: center;
}
.nome {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    text-decoration: none;
}
.nome:hover {
    color: var(--cor-secundaria);
}

.calculadora {
    position: absolute;
    background-color: var(--cor-calculadora);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    color: var(--cor-secundaria);
}

.botao {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 3px;
    background-color: var(--cor-botao);
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
}

.botao:hover {
    background-color: var(--cor-botao-selecionado);
}

#resultado {
    background-color: var(--cor-resultado);
    width: 213px;
    height: 20px;
    margin: 5px;
    color: var(--cor-primaria);
    text-align: right;
    padding: 5px;
}